@model PokemonMVC.Models.Pokemon
@{
    ViewData["Title"] = Model.Name;
}

<h1>@Model.Name</h1>
<h2>Abilities</h2>
<ul>
    @foreach (var ability in Model.Abilities)
    {
        <li>@ability</li>
    }
</ul>

<h2>Moves</h2>
<ul>
    @foreach (var move in Model.Moves)
    {
        <li>@move</li>
    }
</ul>

<a asp-action="Index">Back to List</a>
