@model List<PokemonMVC.Controllers.PokemonListItem>
@{
    ViewData["Title"] = "Pokemon List";
    var page = ViewBag.Page;
}



<h1>Pokemon List</h1>
<hr>
<ul>
    @foreach (var pokemon in Model)
    {
        <li>
            <a asp-action="Details" asp-route-name="@pokemon.Name">@pokemon.Name</a>
        </li>
    }
</ul>

<div>
    @if (page > 1)
    {
        <a asp-action="Index" asp-route-page="@(page - 1)">Previous</a>
    }

    <a asp-action="Index" asp-route-page="@(page + 1)">Next</a>
</div>
