@model List<PokemonMVC.Controllers.PokemonListItem>
@{
    ViewData["Title"] = "Pokemon List";
    var page = ViewBag.Page;
}

<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }

    h1 {
        text-align: center;
    }

    ul {
        list-style-type: none;
        padding: 0;
        text-align: center;
    }

    li {
        margin-bottom: 10px;
    }

    div {
        text-align: center;
    }
</style>

<h1>Pokemon List</h1>
<ul>
    @foreach (var pokemon in Model)
    {
        <li>
            <a asp-action="Details" asp-route-name="@pokemon.Name">@pokemon.Name</a>
        </li>
    }
</ul>

<div>
    @if (page > 1)
    {
        <a asp-action="Index" asp-route-page="@(page - 1)">Previous</a>
    }

    <a asp-action="Index" asp-route-page="@(page + 1)">Next</a>
</div>
