html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}


body {
    font-family: Arial, sans-serif;
}

.pokemon-list {
    list-style-type: none;
    padding: 0;
}

    .pokemon-list li {
        margin: 10px 0;
    }

        .pokemon-list li a {
            text-decoration: none;
            color: #2c3e50;
            font-weight: bold;
        }

            .pokemon-list li a:hover {
                color: #e74c3c;
            }

.pagination {
    margin-top: 20px;
}

    .pagination a {
        margin-right: 10px;
        text-decoration: none;
        color: #3498db;
    }

        .pagination a:hover {
            color: #2980b9;
        }
